<div th:fragment="servicos/em_andamento/cards.html" class="mb-4">
    <div class="row ">
        <div class="col-lg-4 col-12 mb-md-4">
            <div class="card l-bg-cherry shadow-sm">
                <div class="card-statistic-3 p-4 ">
                    <div class="card-icon card-icon-large ">
                        <i class="fa-solid fa-percent"></i>
                    </div>
                    <h5 class="card-title">Porcentagem de Serviços em Andamento</h5>
                    <div style="height: 25em;" class="d-flex align-items-center justify-content-center">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12 mb-md-4">
            <div class="card l-bg-cherry shadow-sm">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large">
                        <i class="fas fa-map-marked-alt"></i>
                    </div>
                    <h5 class="card-title">Estados Mais Cadastrados</h5>
                    <div style="height: 15em;" class="d-flex align-items-center justify-content-center">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12 mb-md-4">
            <div class="card l-bg-cherry shadow-sm">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large">
                        <i class="fa-regular fa-clock"></i>
                    </div>
                    <h5 class="card-title">Clientes Recém Cadastrados</h5>
                    <div style="height: 15em;" class="d-flex align-items-center justify-content-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>