<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro Serviços</title>

    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/sidebar.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="../static/img/logo-menor.webp">
</head>

<body>
    <div class="row">
        <div th:replace="~{sidebar}"></div>
        <section id="conteudo" class="col position-relative overflow-y-auto ms-3 me-2">
            <button type="button" onclick="sidebar()" class="btn sticky-top rounded-circle p-3" id="sidebar-button">
                <i class="fa-solid fa-3x fa-bars"></i>
            </button>
            <div class="container-fluid">
                <div class="container p-5 shadow">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="display-5 fw-medium text-center">Detalhes do Serviço</h2>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-6 col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>ID</h4>
                                </div>
                                <div class="card-body">
                                    <input type="text" class="form-control" id="id" th:value="${servico.getId()}"
                                        readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>Cliente</h4>
                                </div>
                                <div class="card-body">
                                    <select class="form-select" id="clienteId" required>
                                        <option th:each="cliente : ${clientes}" th:value="${cliente.id}"
                                            th:text="${cliente.nome}"
                                            th:selected="${cliente.nome == servico.getCliente().getNome()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>Nome do Serviço</h4>
                                </div>
                                <div class="card-body">
                                    <input type="text" class="form-control" id="nome" th:value="${servico.getNome()}">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>Preço</h4>
                                </div>
                                <div class="card-body">
                                    <input type="text" class="form-control" id="preco" th:value="${servico.getPreco()}">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>Status do Serviço</h4>
                                </div>
                                <div class="card-body">
                                    <select class="form-select" id="status" required>
                                        <option th:each="status : ${statusLista}" th:value="${status}"
                                            th:text="${status}"
                                            th:selected="${status.descricao == servico.getStatus().getDescricao()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>Tipo de Pagamento</h4>
                                </div>
                                <div class="card-body">
                                    <select class="form-select" id="tipoPagamentoId" required>
                                        <option th:each="tipoPagamento : ${tipoPagamentos}" th:value="${tipoPagamento.id}"
                                            th:text="${tipoPagamento.nome}"
                                            th:selected="${tipoPagamento.nome == servico.getTipoPagamento().getNome()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>Pagamento Previsto</h4>
                                </div>
                                <div class="card-body">
                                    <input type="date" class="form-control data-input" id="pagamentoPrevisto"
                                        th:value="${#temporals.format(servico.getPagamentoPrevisto(),'yyyy-MM-dd')}">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>Pagamento Final</h4>
                                </div>
                                <div class="card-body">
                                    <input type="date" class="form-control data-input" id="pagamentoFinal"
                                        th:value="${#temporals.format(servico.getPagamentoFinal(),'yyyy-MM-dd')}">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>Criado Por</h4>
                                </div>
                                <div class="card-body">
                                    <input type="text" class="form-control" id="criadoPor"
                                        th:value="${servico.getCriadoPor()}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>Modificado Por</h4>
                                </div>
                                <div class="card-body">
                                    <input type="text" class="form-control" id="modificadoPor"
                                        th:value="${servico.getModificadoPor()}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-header">
                                    <h4>Descrição</h4>
                                </div>
                                <div class="card-body">
                                    <textarea class="form-control" id="descricao" rows="3"
                                        th:text="${servico.getDescricao()}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-lg btn-secondary mx-2"
                                onclick="window.history.back()">Voltar</button>
                            <button type="button" class="btn btn-lg btn-primary mx-2" id="editarServico">Salvar
                                Alterações</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="../../static/js/sidebar.js"></script>
    <script src="../../static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/servicos/visualizar_servico.js"></script>
</body>

</html>