<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro Serviços</title>

    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/sidebar.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="../static/img/logo-menor.webp">
</head>

<body>
    <div class="row">
        <div th:replace="~{sidebar}"></div>
        <section id="conteudo" class="col-md position-relative overflow-y-auto">
            <button type="button" onclick="sidebar()" class="btn sticky-top rounded-circle p-3" id="sidebar-button">
                <i class="fa-solid fa-3x fa-bars"></i>
            </button>
            <div class="container-fluid">
                <!-- Conteúdo -->


            </div>
        </section>
    </div>
    <script src="../../static/js/sidebar.js"></script>
    <script src="../../static/js/bootstrap/bootstrap.bundle.min.js"></script>

</body>

</html>