<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Deletar Clientes</title>

    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/sidebar.css" rel="stylesheet">

    <link rel="icon" href="../static/img/logo-menor.webp">
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div th:replace="~{sidebar}"></div>
            <div class="col d-flex flex-column justify-content-evenly">
            </div>
        </div>
    </div>
    <script src="../static/js/sidebar.js"></script>
    <script src="../static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../static/js/mascara-cpf.js"></script>
    <script src="../static/js/validacoes.js"></script>
    <script src="../static/js/salvar-cliente.js"></script>
</body>

</html>